*.DS_Store
.bundle
*.dump
db/*.sqlite3
log/*.log
tmp/
db/gtfs/google_rail/transfers.txt
db/gtfs/google_rail/fare_rules.txt
db/gtfs/google_rail/fare_attributes.txt
db/gtfs/google_rail/calendar_dates.txt
db/gtfs/google_rail/calendar.txt
db/gtfs/google_rail/agency.txt
db/gtfs/google_bus/transfers.txt
db/gtfs/google_bus/fare_rules.txt
db/gtfs/google_bus/fare_attributes.txt
db/gtfs/google_bus/calendar_dates.txt
db/gtfs/google_bus/calendar.txt
db/gtfs/google_bus/agency.txt
nxs-favicon.psd
vendor/OpenLayers*

db-deploy-instructions.md
