<%=render "partials/lookup" %>
<% if(@routes != nil && @routes.count > 0) %>
<ul>
	<% @routes.each do |r| %>
	<li><a href="/" class="nxs-section">(<%=r.route_short_name %>) <%=r.route_long_name %></a></li>
	<% end %>
</ul>
<% else %>
<div class="nxs-content">
	Sorry, couldn't find any matching routes.
</div>
<% end %>