<ul id="routes" class="snw-items">
	<% @route_types.each do |r| %>
	<li><a href="/<%=params[:route_type] + "/" + r.route_short_name %>" class="snw-section snw-subway">(<%=r.route_short_name %>) <%=r.route_long_name %></a></li>
	<% end %>
</ul>