<div id="lookup" class="nxs-section">
	<form method="GET" action="/search">
		<input id="term" name="term" type="text" class="s-input s-input-text s-input-smalltext s-corner-all" placeholder="Route #" />
		<button class="s-btn s-corner-all">Go</button>
	</form>
</div>