<div id="lookup" class="nxs-section">
	<form method="GET" action="/search">
		<input id="term" name="term" type="text" class="s-input s-input-text" placeholder="Route #" />
		<button>Go</button>
	</form>
</div>