.icon { height:16px;width:16px;display:inline-block;opacity:0.8; }

.data-list { display:inline-block;margin-top:2em;border:1px solid #c0c0c0;background-color:#f0f0f0; }
	.data-list li { border-top:1px solid #fff;border-bottom:1px solid #c0c0c0;
	background-image:-moz-linear-gradient(center top, rgba(220, 220, 220, 0.4), rgba(200, 200, 200, 0.4));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(220, 220, 220, 0.4)), to(rgba(200, 200, 200, 0.4))); }
	.data-list li:first-child { border-top:0; }
	.data-list li:last-child { border-bottom:0; }
	
		.data-list a { display:block;padding:12px 48px 12px 16px;position:relative; }
			.data-list a .icon { display:none;position:absolute;top:50%;right:16px;margin-top:-8px;background:url(../images/gentleface/black/br_next_icon&16.png) no-repeat; }
			.data-list a:hover { background-color:rgba(255, 255, 255, 0.3); }
			.data-list a:hover .icon { display:block; }

.nxs-routelabel { font-size:1.8em;color:#444;text-transform:uppercase;position:relative;bottom:-3px;color:#5a5a5a;border-right:1px solid #bbb;padding:0 12px 0 6px;margin-right:12px; }

html, body { background-color:#5a5a5a;height:100%;background-image:url(../images/nxs-bg-noise.png); }

	#container { width:960px;margin:2em auto;padding:3em;background-color:#f6f6f6; }