a, a:hover, a:visited, a:active { color:#222;text-decoration:none; }

.nxs-section { padding:0 8px;min-height:48px;line-height:48px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.6);font-weight:bold;position:relative;
	background-image:-moz-linear-gradient(center top, rgba(220, 220, 220, 0.4), rgba(200, 200, 200, 0.4));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(220, 220, 220, 0.4)), to(rgba(200, 200, 200, 0.4))); }

	.nxs-section a { display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
	a.nxs-section, span.nxs-section, .nxs-section a { display:block; }
	a.nxs-section { font-weight:bold; }
	.nxs-section .ui-icon { position:absolute;top:50%;right:8px;margin-top:-7px; }

.nxs-section-disabled { background-image:-moz-linear-gradient(center top, rgba(80, 80, 80, 0.4), rgba(155, 155, 155, 0.4));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(80, 80, 80, 0.4)), to(rgba(155, 155, 155, 0.4))); }

.nxs-section-choose { text-transform:uppercase; }

.nxs-routelabel { font-size:1.8em;color:#444;text-transform:uppercase;position:relative;bottom:-3px; }
.nxs-items .nxs-routelabel { color:#5a5a5a;border-right:1px solid #ddd;padding:0 12px 0 6px;margin-right:12px; }
.nxs-items .nxs-routetype { border:0; }

.nxs-routetype { background-color:#5b7cbf;position:relative;padding-left:36px; }
.nxs-routetype:hover { background-color:#8bf; }
	.nxs-routetype a:before { content:'';position:absolute;height:20px;width:20px;top:50%;left:8px;margin-top:-10px;
	 	-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
	 	-moz-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2);
	 	-webkit-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2);
	 	box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2); }

.nxs-routetype-bsl a:before { background-color:#f58220; }
.nxs-routetype-mfl a:before { background-color:#107dc1; }
.nxs-routetype-buses a:before { background-color:#41525c; }
.nxs-routetype-trolleys a:before { background-color:#539442; }
.nxs-routetype-trains a:before { background-color:#477997; }

.nxs-subways { background-color:#fdfd66; }
.nxs-subways:hover { background-color:#ffa; }

.nxs-stoptime-header { padding:8px 16px 0; }
.nxs-stoptimes { margin:0 0 8px; }
	.nxs-stoptime { padding:10px 16px;position:relative; }
		.nxs-stoptime time { font-size:1.4em;color:#4a4a4a;font-weight:bold; }
		.nxs-stoptime span { color:#666; }
		.nxs-stoptime-left { position:relative; }
		.nxs-stoptimes .nxs-stoptime-left:after { content:'\2192';position:absolute;top:0;right:-4px; }
		.nxs-stoptimes .nxs-stoptime-nodest:after { content:normal; }

.nxs-stoptime { overflow:auto;clear:both; }
	.nxs-stoptime-left { float:left;width:60%; }
	.nxs-stoptime-right { float:right;width:40%;text-align:right; }

.nxs-items li { border-top:1px solid #fff;border-bottom:1px solid #ddd; }
.nxs-items li:first-child { border-top:0; }
.nxs-items li:last-child { border-bottom:0; }

.nxs-skip { display:none;position:absolute;top:0;right:8px;bottom:0;line-height:48px; }

.nxs-quicknav { min-height:0;line-height:32px; }
	.nxs-quicknav ul { display:table;width:100%; }
	.nxs-quicknav li { display:inline-block;display:table-cell;text-align:center; }

.nxs-content { padding:1em;font-size:1.2em;
	 -moz-box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4); }



html, body { background-color:#5a5a5a;color:#333;font:12px Helvetica,Arial,Verdana,Sans-serif;height:100%;background-image:url(../images/nxs-bg-noise.png); }

#container { margin:0 auto;width:320px;position:relative;
	-moz-box-shadow:0 4px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.5);box-shadow:0 4px 8px rgba(0, 0, 0, 0.5); }

	#header { color:#222;letter-spacing:1px;font-weight:bold;text-shadow:0 0 1px rgba(255, 255, 255, 0.8); }
	
		#header h1 { font-size:1.6em;background-color:#222; }
			#header h1 a { color:#fafafa;text-shadow:0 1px 0px rgba(0, 0, 0, 0.5); }
				#header h1 a span { font-size:0.6em;margin-left:4px;color:#738EC4; }
		#header h2 { font-size:1.2em;background-color:#3baf4d; }
		#header h3 { font-size:1.1em; }
			#header h3 span { display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
		
		#header h2.nxs-route-type-buses { background-color:#41525c; }
		#header h2.nxs-route-type-subways { background-color:#f58220; }
		#header h2.nxs-route-type-trolleys { background-color:#539442; }
		#header h2.nxs-route-type-trains { background-color:#477997; }
		#header h2.nxs-route-mfl { background-color:#107dc1; }
		
	#header.nxs-choose-h2 h2,
		#header.nxs-choose-h3 h3,
		#header.nxs-choose-h4 h4 { min-height:0px;line-height:32px;background-color:#aaa;color:#f0f0f0;text-transform:uppercase;background-image:none;
			text-shadow:0 1px 0px rgba(0, 0, 0, 0.5);
			-moz-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4);box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4); }
	
	#content { background-color:#fff; }	
	
		#info { padding:8px;background-color:#555;color:#d0d0d0; }
			#info li { margin-top:2em;line-height:1.2; }
				#info a { color:#999; }
				#info a:hover { text-decoration:underline; }
		
	.nxs-resize { overflow:auto; }
		
	#footer { background-color:#5b7cbf;overflow:auto; }
		#footer li { float:left;width:25%;text-align:center; }
		#footer li.nxs-section { padding:0;height:42px;line-height:42px; }
			#footer li a { margin:3px; }
			#footer a:hover, #footer a:active,
			.nxs-routetype-subways .nxs-footer-subways a,
			.nxs-routetype-buses .nxs-footer-buses a,
			.nxs-routetype-trolleys .nxs-footer-trolleys a,
			.nxs-routetype-trains .nxs-footer-trains a { background-color:rgba(0, 0, 0, 0.1);-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) inset, 1px 1px 0px rgba(200, 200, 200, 0.4);
				-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) inset, 1px 1px 0px rgba(200, 200, 200, 0.4);
				box-shadow:1px 1px 2px rgba(0, 0, 0, 0.4) inset, 1px 1px 0px rgba(200, 200, 200, 0.4); }

	#subfooter { margin:0 auto;width:320px; }
		#subfooter span { padding:8px; }
			#subfooter a { font-weight:bold;color:#333; }
			#subfooter a:hover { color:#aaa; }
		#follow { float:left; }
		#madeby { float:right; }

#beta { }
	#beta header { font-size:1.6em; }
	#beta p { margin-top:1em; }
		#beta a { color:#363; }
		#beta a:hover { text-decoration:underline; }