a, a:hover, a:visited, a:active { color:#222;text-decoration:none; }

.nxs-section { padding:0 8px;min-height:48px;line-height:48px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.6);font-weight:bold;position:relative;
	background-image:-moz-linear-gradient(center top, rgba(255, 255, 255, 0.4), rgba(200, 200, 200, 0.4));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.4)), to(rgba(200, 200, 200, 0.4))); }

	a.nxs-section, span.nxs-section, .nxs-section a { display:block; }
	a.nxs-section { font-weight:bold; }
	.nxs-section .ui-icon { position:absolute;top:50%;right:8px;margin-top:-7px; }

.nxs-section-disabled { background-image:-moz-linear-gradient(center top, rgba(80, 80, 80, 0.4), rgba(155, 155, 155, 0.4));
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(80, 80, 80, 0.4)), to(rgba(155, 155, 155, 0.4))); }

.nxs-section-choose { text-transform:uppercase; }

.nxs-routelabel { font-size:1.6em;color:#444;text-transform:uppercase;position:relative;bottom:-2px;padding-right:6px;margin-right:6px; }
.nxs-items
	.nxs-items .nxs-routelabel { color:#5a5a5a;border-right:1px solid #aaa; }

.nxs-routetype { background-color:#3366fd; }
.nxs-routetype:hover { background-color:#8bf; }

.nxs-subways { background-color:#fdfd66; }
.nxs-subways:hover { background-color:#ffa; }

.nxs-stoptime-header { padding:8px 16px 0; }
.nxs-stoptimes { margin:0 0 8px; }
	.nxs-stoptime { padding:10px 16px;position:relative; }
		.nxs-stoptime time { font-size:1.4em;color:#4a4a4a;font-weight:bold; }
		.nxs-stoptime span { text-transform:uppercase;color:#666; }
		.nxs-stoptime-left { position:relative; }
		.nxs-stoptimes .nxs-stoptime-left:after { content:'\2192';position:absolute;top:0;right:-4px; }

.nxs-stoptime { overflow:auto;clear:both; }
	.nxs-stoptime-left { float:left;width:60%; }
	.nxs-stoptime-right { float:right;width:40%;text-align:right; }

.nxs-items li { border-top:1px solid #ddd }
.nxs-items li:first-child { border:0; }
	.nxs-items a { display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }

.nxs-content { padding:1em;font-size:1.2em;
	 -moz-box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4);box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.4); }



html, body { background-color:#5a5a5a;color:#333;font:12px Helvetica,Arial,Verdana,Sans-serif;height:100%;background-image:url(../images/nxs-bg-noise.png); }

#container { margin:0 auto;width:320px;background-color:#fff;position:relative;
	-moz-box-shadow:0 4px 8px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.5);box-shadow:0 4px 8px rgba(0, 0, 0, 0.5); }

	#header { color:#222;letter-spacing:1px;font-weight:bold;text-shadow:0 0 1px rgba(255, 255, 255, 0.8); }
	
		#header h1 { font-size:1.4em;background-color:#222; }
			#header h1 a { color:#fafafa;text-shadow:0 1px 0px rgba(0, 0, 0, 0.5); }
		#header h2 { font-size:1.2em;background-color:#3baf4d; }
		#header h3 { font-size:1.1em; }
			#header h3 span { white-space:nowrap; }
		
		#header h2.nxs-route-type-buses { background-color:#41525c; }
		#header h2.nxs-route-type-subways { background-color:#f58220; }
		#header h2.nxs-route-type-trolleys { background-color:#539442; }
		#header h2.nxs-route-type-trains { background-color:#477997; }
		#header h2.nxs-route-mfl { background-color:#107dc1; }
		
	#header.nxs-choose-h2 h2,
		#header.nxs-choose-h3 h3,
		#header.nxs-choose-h4 h4 { background-color:#aaa;color:#f0f0f0;text-transform:uppercase;background-image:none;
			text-shadow:0 1px 0px rgba(0, 0, 0, 0.5);
			-moz-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4);box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.4); }
		
	#footer { background-color:#3366fd;overflow:auto;/*position:fixed;bottom:0;width:320px;*/ }
		#footer li { float:left;width:25%;text-align:center; }
			#footer a:hover, #footer a:active { -moz-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.4);box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.4); }

#beta { }
	#beta header { font-size:1.6em; }
	#beta p { margin-top:1em; }
		#beta a { color:#363; }
		#beta a:hover { text-decoration:underline; }