.nxs-items li { -webkit-text-size-adjust:110%; }

@media screen and (max-width:320px) {
	#container, #subfooter { width:320px; }
	
	#map-inner { height:400px; }
}

@media screen and (min-width:321px) {
	#container, #subfooter { width:480px; }
}

@media screen and (max-width: 319px) {
	.s-col { float:none !important;width: auto !important; }
}