.nxs-items li { height:48px;line-height:48px;-webkit-text-size-adjust:140%; }

@media screen and (max-width:320px) {
	#container { width:320px; }
}

@media screen and (min-width:321px) {
	#container { width:480px; }
}

@media screen and (max-width: 319px) {
	.s-col { float:none !important;width: auto !important; }
}