.nxs-section { height:48px;line-height:48px;-webkit-text-size-adjust:180%; }

#footer { -webkit-text-size-adjust:90%; }

@media screen and (max-width:320px) {
	#container { width:320px; }
}

@media screen and (min-width:321px) {
	#container { width:480px; }
}