body { color:#333; }

.s-normalfont, .s-btn { font-family:Tahoma,Verdana,Arial; }

a { color:#82a53a; }
a:hover { color:#122F13; }
.s-keyboard a:focus { outline:1px dashed #b0b0b0; }

h1 { font-size:2.0em; }
h2 { font-size:1.4em; }
h3 { font-size:1.2em; }
h4 { font-size:1.1em; }

/* Floats */
.s-left { float:left; }
.s-right { float:right; }
.s-clear { clear:both; }
.s-clearfix:after { content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0; }
.s-clearfix { display:inline-block; }
html[xmlns] .s-clearfix { display:block; }

/* Columns */
.s-cols,.s-col-last { overflow:hidden; *overflow:visible;*zoom:1; }
.s-col { float:left; }
.s-col-1of1 { float:none; }
.s-col-1of2 { width:50%; }
.s-col-1of3 { width:33.33333%; }
.s-col-2of3 { width:66.66666%; }
.s-col-1of4 { width:25%; }
.s-col-3of4 { width:75%; }
.s-col-1of5 { width:20%; }
.s-col-2of5 { width:40%; }
.s-col-3of5 { width:60%; }
.s-col-4of5 { width:80%; }
.s-col-last { float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px; }

/* Corners */
.s-corner-all { -moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px; }
.s-corner-top { -moz-border-radius:6px 6px 0 0;border-top-left-radius:6px;border-top-right-radius:6px; }
.s-corner-right { -moz-border-radius:0 6px 6px 0;border-top-right-radius:6px;border-bottom-right-radius:6px; }
.s-corner-bottom { -moz-border-radius:0 0 6px 6px;border-bottom-right-radius:6px;border-bottom-left-radius:6px; }
.s-corner-left { -moz-border-radius:6px 0 0 6px;border-bottom-left-radius:6px;border-top-left-radius:6px; }

.s-corner-all-2 { -moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; }
.s-corner-top-2 { -moz-border-radius:2px 2px 0 0;border-top-left-radius:2px;border-top-right-radius:2px;border-radius:2px 2px 0 0; }
.s-corner-right-2 { -moz-border-radius:0 2px 2px 0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-radius:0 2px 2px 0; }
.s-corner-bottom-2 { -moz-border-radius:0 0 2px 2px;border-bottom-right-radius:2px;border-bottom-left-radius:2px;border-radius:0 0 2px 2px; }
.s-corner-left-2 { -moz-border-radius:2px 0 0 2px;border-bottom-left-radius:2px;border-top-left-radius:2px;border-radius:2px 0 0 2px; }

.s-corner-all-4 { -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; }
.s-corner-top-4 { -moz-border-radius:4px 4px 0 0;border-top-left-radius:4px;border-bottom-right-radius:4px;border-radius:4px 4px 0 0; }
.s-corner-bottom-4 { -moz-border-radius:0 0 4px 4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;border-radius:0 0 4px 4px; }
.s-corner-left-4 { -moz-border-radius:4px 0 0 4px;border-top-left-radius:4px;border-bottom-left-radius:4px;border-radius:4px 0 0 4px; }

.s-corner-all-12 { -moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px; }
.s-corner-all-24 { -moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px; }
.s-corner-all-32 { -moz-border-radius:32px;-webkit-border-radius:32px;border-radius:32px; }

.s-shadow { -moz-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);box-shadow:0 2px 6px rgba(0, 0, 0, 0.4); }
.s-shadow-big { -moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.4);box-shadow:0 3px 10px rgba(0, 0, 0, 0.4); }
.s-shadow-small { -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);box-shadow:0 1px 3px rgba(0, 0, 0, 0.3); }
.s-shadow-inset { -moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4); }
.s-shadow-inset-small { -moz-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2);box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.2); }
.s-shadow-inset-big { -moz-box-shadow:inset 0 0 12px rgba(0, 0, 0, 0.3);-webkit-box-shadow:inset 0 0 12px rgba(0, 0, 0, 0.3);box-shadow:inset 0 0 12px rgba(0, 0, 0, 0.3); }

/* Overlays for modal dialogs */
.s-overlay { display:none;position:absolute;top:0;right:0;bottom:0;left:0;background-color:#555;opacity:0.55;z-index:9990; }

.s-inline { display:inline-block;margin-right:4px; }
.s-orderedlist { list-style-type:decimal;margin-left:20px; }

/* Generally make something appear inactive */
.s-inactive { color:#888; }
a.s-inactive { text-decoration:none;cursor:default; }

/* Form controls */
.s-input { color:#444;border:1px solid #999;background-color:#f2f2f2;padding:6px 8px; }
.s-input:focus { background-color:#fff;-moz-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.3);-webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.3); }
.s-input-text { width:320px;-moz-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.3);-webkit-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.3); }
.s-input-bigtext { padding:5px 10px;width:480px; }
.s-input-smalltext { width:180px; }
.s-input-smallertext { width:72px; }
.s-input-tinytext { width:40px; }
.s-input-datetext { width:68px; }
.s-input-numbertext { width:28px; }
textarea.s-input { height:48px;width:360px;font-family:Helvetica,Arial,Verdana,Sans-serif; }
select.s-input { padding:4px;-moz-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.3); }
.s-input-check { margin:0;padding:0;vertical-align:text-top;border:0;background-color:transparent; }
.s-input-watermark { color:#a3a3a3; }
.s-input[disabled] { background-color:#e0e0e0;color:#888; }
.s-input-readonly { color:#555; }
.s-input-error { background-color:#feeeee;border-color:#955; }

/* Labels */
.s-label { font-size:1.4em;font-weight:bold;color:#5e5e5e; }
    .s-label-note { font-size:0.8em;color:#777;display:block;font-weight:bold; }
    .s-label .s-label-note { font-size:0.6em;display:inline-block;margin-left:1em; }
.s-label-check { margin-left:0.4em; }
.s-label-mini { font-size:0.8em; }
.s-required-label { color:#b33;font-size:0.5em;font-weight:bold;margin-left:4px;padding:1px 4px;text-transform:uppercase;vertical-align:top; }
.s-label-mini .s-required-label { font-size:0.8em; }

/* Wrapper around control(s) for each field. */
.s-ctrl { margin-top:2px; }

/* Buttons */
.s-btn { display:inline-block;color:#444;border:1px solid #a0a0a0;font-weight:bold;padding:4px 10px 5px;margin-right:8px;cursor:pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);  
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); }
.s-btn-success { color:#f0f0f0;background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.s-btn:hover { background-position: 0 -15px; }
.s-btn:active { -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }
a.s-btn { text-decoration:none;color:#444 !important; }
a.s-btn-success { color:#f0f0f0 !important; }

.s-btn-disabled { background-image:-moz-linear-gradient(center top, #d6d6d6, #b0b0b0);color:#666; }
.s-btn-small { font-size:0.8em;padding:3px 6px 4px; }