/* Adapted from:

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, code, 
em, img, 
strong, sub, sup, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

fieldset, img { 
	border: 0;
}

body {
	line-height: 1.1;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea, select {
	font-size: 1.1em;
	line-height: 1.1;
}

/* HTML5 handling for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

time {
    display: inline;
}