<%=render "partials/lookup" %>
<ul id="route-types" data-role="listview">
	<li class="nxs-routetype nxs-section nxs-routetype-bsl"><a href="/subways/BSS">Broad Street Line</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-mfl"><a href="/subways/MFL">Market-Frankford Line</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-buses"><a href="/buses">Buses</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-trolleys"><a href="/trolleys">Trolley Lines</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-trains"><a href="http://www.isepta.org" target="_blank">Trains</a></li>
</ul>