<%=render "partials/lookup" %>
<ul id="route-types">
	<li class="snw-routetype"><a href="/subways" class="snw-section">Subways</a></li>
	<li class="snw-routetype"><a href="/buses" class="snw-section">Buses</a></li>
	<li class="snw-routetype"><a href="/trolleys" class="snw-section">Trolleys</a></li>
	<li class="snw-routetype"><a href="/trains" class="snw-section">Trains</a></li>
</ul>