<%=render "partials/lookup" %>
<ul id="route-types" data-role="listview">
	<li class="nxs-routetype nxs-section"><a href="/subways">Subways</a></li>
	<li class="nxs-routetype nxs-section"><a href="/buses">Buses</a></li>
	<li class="nxs-routetype nxs-section"><a href="/trolleys">Trolleys</a></li>
	<li class="nxs-routetype nxs-section"><a href="http://www.isepta.org" target="_blank">Trains</a></li>
</ul>