<%=render "partials/lookup" %>
<ul id="route-types" class="nxs-items">
	<li class="nxs-routetype nxs-section nxs-routetype-bsl"><a href="/subways/BSS" class="nxs-nav-link">Broad Street Line</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-mfl"><a href="/subways/MFL" class="nxs-nav-link">Market-Frankford Line</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-buses"><a href="/buses" class="nxs-nav-link">Buses</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-trolleys"><a href="/trolleys" class="nxs-nav-link">Trolley Lines</a></li>
	<li class="nxs-routetype nxs-section nxs-routetype-trains"><a href="/trains" class="nxs-nav-link">Trains</a></li>
</ul>