<section class="patterns-section">
	<h1 class="patterns-h1">App Section</h1>
	<div class="nxs-section">
		Section
	</div>

	<p></p>

	<div class="nxs-section">
		<a href="javascript:void(0)">Section Link</a>
	</div>

	<p></p>

	<div class="nxs-section nxs-section-disabled">
		Disabled Section
	</div>

	<p></p>

	<div class="nxs-section">
		Section
		<span class="nsx-section-sub">Sub-section</span>
	</div>

	<p></p>

	<h2 class="nxs-section">
		H2 Section
	</h2>

	<p></p>

	<h3 class="nxs-section">
		H3 Section
	</h3>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Icons</h1>
	<span class="nxs-icon-back" title="nxs-icon-back"></span>
	<span class="nxs-icon-info" title="nxs-icon-info"></span>
	<span class="nxs-icon-map" title="nxs-icon-map"></span>
	<span class="nxs-icon-arrow-up" title="nxs-icon-arrow-up"></span>
	<span class="nxs-icon-arrow-down" title="nxs-icon-arrow-down"></span>
	<span class="nxs-icon-monitor" title="nxs-icon-monitor"></span>
	<span class="nxs-icon-tablet" title="nxs-icon-tablet"></span>
	<span class="nxs-icon-mobile" title="nxs-icon-mobile"></span>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">App Header</h1>
	<div class="nxs-header">
		<h1 class="nxs-section nxs-header-title">
			<a href="javascript:void(0)">
				NEXT&rarr;Septa
			</a>
		</h1>
	</div>

	<p></p>

	<div class="nxs-header">
		<h1 class="nxs-section nxs-header-title">
			<a class="nxs-header-btn s-corner-all-24" href="javascript:void(0)">back</a>
			<a href="javascript:void(0)">
				NEXT&rarr;Septa w/ Link Button
			</a>
		</h1>
	</div>

	<p></p>

	<div class="nxs-header">
		<h1 class="nxs-section nxs-header-title">
			<a href="javascript:void(0)">
				NEXT&rarr;Septa w/ Link Button (right-aligned)
			</a>
			<a class="nxs-header-btn nxs-header-btn-right s-corner-all-24" href="javascript:void(0)">info</a>
		</h1>
	</div>

	<p></p>

	<div class="nxs-header">
		<h1 class="nxs-section nxs-header-title">
			<a class="nxs-header-btn nxs-header-iconbtn nxs-icon-back s-corner-all-24" href="javascript:void(0)">back</a>
			<a href="javascript:void(0)">
				NEXT&rarr;Septa w/ Icon Buttons
			</a>
			<a class="nxs-header-btn nxs-header-btn-right nxs-header-iconbtn nxs-icon-map s-corner-all-24" href="javascript:void(0)">back</a>
		</h1>
	</div>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Routes Quick Nav</h1>
	<div class="nxs-section nxs-quicknav">
		<ul>
			<li><a href="javascript:void(0)">20</a></li>
			<li><a href="javascript:void(0)">30</a></li>
			<li><a href="javascript:void(0)">40</a></li>
			<li><a href="javascript:void(0)">50</a></li>
			<li><a href="javascript:void(0)">60</a></li>
			<li><a href="javascript:void(0)">70</a></li>
			<li><a href="javascript:void(0)">80</a></li>
			<li><a href="javascript:void(0)">90</a></li>
			<li><a href="javascript:void(0)">100</a></li>
			<li><a href="javascript:void(0)">more</a></li>
		</ul>
	</div>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">2nd-Level Headers</h1>
	<h2 class="nxs-section nxs-route">
		<a href="javascript:void(0)">Route</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">10</span> Route w/ Route Number
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route nxs-route-type-subways nxs-route-bss">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">BSS</span> BSL Route
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route nxs-route-type-subways nxs-route-mfl">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">MFL</span> MFL Route
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route nxs-route-type-buses">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">23</span> Bus Route
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route nxs-route-type-trolleys">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">10</span> Trolley Route
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-route nxs-route-type-trains">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">Regional Rail Route</span>
		</a>
	</h2>

	<p></p>

	<h2 class="nxs-section nxs-header-level2 nxs-routedirection">
		<a href="javascript:void(0)">
			<span class="nxs-section-prefix">10</span> Route Direction
		</a>
		<a href="javascript:void(0)">
			Route Direction
			<span class="nsx-section-sub">To: Route Last Stop</span>
		</a>
	</h2>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">3rd-Level Headers</h1>
	<h3 class="nxs-section nxs-header-level3">Choose Departing Stop</h3>

	<p></p>

	<h3 class="nxs-section nxs-header-level3 s-cols">
		<div class="s-col s-col-1of2 nxs-stoptimes-stopnames-left">
			<a href="javascript:void(0)" title="From Stop Name">
				Stop Name
			</a>
			<p>From</p>
		</div>
		<div class="s-col s-col-last nxs-stoptimes-stopnames-right">
			<a href="javascript:void(0)" title="Choose Destination">
				Choose
			</a>
			<p>To</p>
		</div>
	</h3>

	<p></p>

	<h3 class="nxs-section nxs-header-level3 s-cols">
		<div class="s-col s-col-1of2 nxs-stoptimes-stopnames-left">
			<a href="javascript:void(0)" title="From Stop Name">
				Stop Name
			</a>
			<p>From</p>
		</div>
		<div class="s-col">
			<a href="javascript:void(0)" title="Reverse Stations" class="nxs-icon-switch"></a>
		</div>
		<div class="s-col s-col-last nxs-stoptimes-stopnames-right">
			<a href="javascript:void(0)" title="To Stop Name">
				Stop Name
			</a>
			<p>To</p>
		</div>
	</h3>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Items List</h1>
	<ul class="nxs-items">
		<li class="nxs-section">
			<a href="javascript:void(0)">Item</a>
		</li>
		<li class="nxs-section">
			<a href="javascript:void(0)">Item w/ Sub-section<span class="nsx-section-sub">Sub-section Info</span></a>
		</li>
		<li class="nxs-section">
			<a href="javascript:void(0)" class="nxs-nav-link">Navigation Link</a>
		</li>
		<li class="nxs-section">
			<a href="javascript:void(0)"class="nxs-nav-link">
				Item w/ Very Long Text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				<span class="nsx-section-sub">Very Long Sub-section Info. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
			</a>
		</li>
		<li class="nxs-section">
			<a href="javascript:void(0)" class="nxs-nav-link">
				Route
			</a>
		</li>
		<li class="nxs-section">
			<a href="javascript:void(0)" class="nxs-nav-link">
				<span class="nxs-section-prefix">10</span> Route w/ Route Number
			</a>
		</li>
	</ul>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Routes List</h1>
	<ul class="nxs-items">
		<li class="nxs-section nxs-routetype">
			<a href="javascript:void(0)" class="nxs-nav-link">
				Route Type
			</a>
		</li>
		<li class="nxs-section nxs-routetype nxs-routetype-bsl">
			<a href="javascript:void(0)" class="nxs-nav-link">
				BSL
			</a>
		</li>
		<li class="nxs-section nxs-routetype nxs-routetype-mfl">
			<a href="javascript:void(0)" class="nxs-nav-link">
				MFL
			</a>
		</li>
		<li class="nxs-section nxs-routetype nxs-routetype-buses">
			<a href="javascript:void(0)" class="nxs-nav-link">
				Buses
			</a>
		</li>
		<li class="nxs-section nxs-routetype nxs-routetype-trolleys">
			<a href="javascript:void(0)" class="nxs-nav-link">
				Trolleys
			</a>
		</li>
		<li class="nxs-section nxs-routetype nxs-routetype-trains">
			<a href="javascript:void(0)" class="nxs-nav-link">
				Regional Rail
			</a>
		</li>
	</ul>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Stops Times</h1>
	<section class="nxs-stoptimes" data-route="10">
		<header class="nxs-stoptime-header s-clearfix">
			<div class="nxs-stoptime-left">
				Departs
			</div>
		</header>
		<a href="javascript:void(0)" class="nxs-stoptimes-pager" data-dir="back"><i class="nxs-icon-arrow-up"></i></a>
		<ul id="times-list" class="nxs-stoptimes-list">
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left  nxs-stoptime-nodest">
						<time datetime="">4:05 pm</time> <span data-time="">(GONE)</span>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left  nxs-stoptime-nodest">
						<time datetime="">4:10 pm</time> <span data-time="">(1m)</span>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left  nxs-stoptime-nodest">
						<time datetime="">4:15 pm</time> <span data-time="">(6m)</span>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left  nxs-stoptime-nodest">
						<time datetime="">4:20 pm</time> <span data-time="">(11m)</span>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left  nxs-stoptime-nodest">
						<time datetime="">4:25 pm</time> <span data-time="">(16m)</span>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
		</ul>
		<a href="javascript:void(0)" class="nxs-stoptimes-pager" data-dir="fwd"><i class="nxs-icon-arrow-down"></i></a>
	</section>

	<p></p>

	<section class="nxs-stoptimes" data-route="10">
		<header class="nxs-stoptime-header s-clearfix">
			<div class="nxs-stoptime-left">
				Departs
			</div>
			<div class="nxs-stoptime-right">
				Arrives
			</div>
		</header>
		<a href="javascript:void(0)" class="nxs-stoptimes-pager" data-dir="back"><i class="nxs-icon-arrow-up"></i></a>
		<ul id="times-list" class="nxs-stoptimes-list">
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left">
						<time datetime="">4:05 pm</time> <span data-time="">(GONE)</span>
					</div>
					<div class="nxs-stoptime-right">
						<time datetime="">4:45 pm</time>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left">
						<time datetime="">4:10 pm</time> <span data-time="">(1m)</span>
					</div>
					<div class="nxs-stoptime-right">
						<time datetime="">4:50 pm</time>
					</div>
					<div class="nxs-stoptime-aside active"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left">
						<time datetime="">4:15 pm</time> <span data-time="">(6m)</span>
					</div>
					<div class="nxs-stoptime-right">
						<time datetime="">4:55 pm</time>
					</div>
					<div class="nxs-stoptime-aside"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left">
						<time datetime="">4:20 pm</time> <span data-time="">(11m)</span>
					</div>
					<div class="nxs-stoptime-right">
						<time datetime="">5:00 pm</time>
					</div>
					<div class="nxs-stoptime-aside active"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
			<li class="nxs-stoptime" data-block="" data-trip="">
				<div class="s-clearfix nxs-stoptime-times">
					<div class="nxs-stoptime-left">
						<time datetime="">4:25 pm</time> <span data-time="">(16m)</span>
					</div>
					<div class="nxs-stoptime-right">
						<time datetime="">5:05 pm</time>
					</div>
					<div class="nxs-stoptime-aside active"><a href="javascript:void(0)">map</a></div>
				</div>
				<div class="nxs-stoptime-coverage" title="approx. route coverage"><i class="nxs-stoptime-coverage-value" style="margin-left:0%;margin-right:0%;"></i></div>
			</li>
		</ul>
		<a href="javascript:void(0)" class="nxs-stoptimes-pager" data-dir="fwd"><i class="nxs-icon-arrow-down"></i></a>
	</section>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Footer</h1>
	<section>
		<footer class="nxs-routetype- nxs-footer">
			<ul class="s-cols">
				<li class="s-col s-col-1of4 nxs-section nxs-footer-subways"><a href="javascript:void(0)" class="s-corner-all">Subways</a></li>
				<li class="s-col s-col-1of4 nxs-section nxs-footer-buses"><a href="javascript:void(0)" class="s-corner-all">Buses</a></li>
				<li class="s-col s-col-1of4 nxs-section nxs-footer-trolleys"><a href="javascript:void(0)" class="s-corner-all">Trolleys</a></li>
				<li class="s-col s-col-last nxs-section nxs-footer-trains"><a href="javascript:void(0)" class="s-corner-all">Trains</a></li>
			</ul>
		</footer>
	</section>
</section>

<section class="patterns-section">
	<h1 class="patterns-h1">Sub-footer</h1>
	<div class="nxs-subfooter">
		<span class="nxs-subfooter-left"><a href="javascript:void(0)">@nextsepta</a></span>
		<span class="nxs-subfooter-right">made by <a href="javascript:void(0)">@reedlauber</a></span>
	</div>
</section>