<div id="info" class="s-shadow-inset nxs-content-static">
	<h1>NEXT&rarr;Septa is...</h1>
	<ul>
		<li>
			A mobile-optimized app designed to get you the next few <a href="http://www.septa.org">SEPTA</a> bus, subway and trolley times as quickly and easily as possible.
		</li>
		<li>
			Largely inspired by <a href="http://boutell.com">Tom Boutell's</a> septime, as well as <a href="http://isepta.org">iSepta</a>. Thanks for leading the way.
		</li>
		<li>
			Always looking for feedback. Email at <a href="mailto:nextsepta@gmail.com">nextsepta@gmail.com</a> or find on Twitter at <a href="http://twitter.com/nextsepta">@nextsepta</a>
		</li>
		<li>
			Based on SEPTA's published <a href="http://www2.septa.org/developer/">GTFS data</a>
		</li>
		<li>
			<a href="http://www.github.com/reedlauber/Next-Septa">Open source</a>
		</li>
		<li>
			Build with <a href="http://rubyonrails.org">Ruby on Rails</a> and hosted on <a href="http://heroku.com">Heroko</a>
		</li>
		<li>
			Made by <a href="http://twitter.com/reedlauber">@reedlauber</a>
		</li>
	</ul>
</div>