<!DOCTYPE html>
<html>
<head>
	<title>NEXT&rarr;Septa UI Patterns</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
	<%= include_stylesheets :all, :public, :patterns, :media => "all" %>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/images/nxs-logo.png" />
	<%= csrf_meta_tag %>
</head>
<body class="patterns">
	<header class="patterns-header">
		<strong>NEXT|Septa UI Patterns</strong>
	</header>
	<div class="patterns-content">
		<%=yield %>
	</div>
</body>
</html>